In [89]:
# Importing Dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pymysql
pymysql.install_as_MySQLdb()
import json

# df = dataframe
# ndf = list of dropped code column dataframe
# rdf = renamed 3rd column dataframe

In [77]:
# Read CSV files
df1 = pd.read_csv("Resources/economic.csv")
df2 = pd.read_csv("Resources/homeless.csv")
df3 = pd.read_csv("Resources/injured.csv")
df4 = pd.read_csv("Resources/migration.csv")
df5 = pd.read_csv("Resources/totaffected.csv")
dfs = [df1, df2, df3, df4, df5]

In [78]:
# sorting all df 
ndf = [] 
for i in dfs:
    ndf.append(i.drop("Code", 1))
ndf[4].head()

,Entity,Year,Total number of people affected by natural disasters (affected)
0,All natural disasters,1900,0
1,All natural disasters,1901,0
2,All natural disasters,1902,0
3,All natural disasters,1903,23
4,All natural disasters,1904,0

In [79]:
# Comment later in spaces
rdf1 = ndf[0].rename(columns={'Entity':'Type','Total economic damage from natural disasters (US$)': 'Damage Cost ($)'})

rdf2 = ndf[1].rename(columns={'Entity':'Type','Number left homeless from natural disasters (homeless)': 'People Left Homeless'})

rdf3 = ndf[2].rename(columns={'Entity':'Type','Global injuries from natural disasters (injured)': 'Total Global Injuries'})

rdf4 = ndf[3].rename(columns={'Entity':'Type','Internally displaced persons, new displacement associated with disasters (number of cases) (number of cases)': 'People Migrated'})

rdf5 = ndf[4].rename(columns={'Entity':'Type','Total number of people affected by natural disasters (affected)': 'Total Affected'})
rdf5.head()

                    Type  Year  Total Affected
0  All natural disasters  1900               0
1  All natural disasters  1901               0
2  All natural disasters  1902               0
3  All natural disasters  1903              23
4  All natural disasters  1904               0

In [80]:
# Create connection to SQL database 
engine = sqlalchemy.create_engine('mysql://root:!!Dinosaurs00@localhost/natural_disaster_results')
engine.execute("USE natural_disaster_results")
conn = engine.connect()

In [81]:
# Convert dataframes into SQL data
rdf1.to_sql(name='damage_cost', con=engine, if_exists='replace', index=False)
rdf2.to_sql(name='homeless', con=engine, if_exists='replace', index=False)
rdf3.to_sql(name='gloinjuries', con=engine, if_exists='replace', index=False)
rdf4.to_sql(name='migrated', con=engine, if_exists='replace', index=False)

In [83]:
# might not need but keeping just in case we need json
rdf1.to_json('JsonFiles/damagecost.json')
rdf2.to_json('JsonFiles/homeless.json')
rdf3.to_json('JsonFiles/injuries.json')
rdf4.to_json('JsonFiles/migration.json')
rdf5.to_json('JsonFiles/totaffected.json')

In [112]:
tdf5 = rdf5.to_dict('records')
jsondf5 = json.dumps(tdf5)

f = open("static/js/totaffected.js", "w")
f.write(jsondf5)

34962